.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.checkbox-input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.checkbox-custom {
  display: flex;
  position: relative;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background: #222229;
  transition: all 0.2s ease;
}

.checkbox-custom::after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(42, 47, 49);
  content: '';
}

.checkbox-input:checked + .checkbox-custom {
  background: #527553;
}

.checkbox-input:checked + .checkbox-custom::after {
  background: #79a37a;
}

.checkbox-input:focus + .checkbox-custom {
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.3);
}

.checkbox-label {
  color: #ffffff;
}
